<div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
        <div class="agileits-top"  *ngIf="signupConfig.length > 0 && signupForm">

            <form [formGroup]="signupForm">
                <div class="mt-20">
                   <app-dynamic-form [fields]="signupConfig" [group]="signupForm" [labelVissble]="'1'"
                   [parentComponent]="'SignupComponent'"></app-dynamic-form>
                </div>
            </form>
            <button class="btn-submit" type="submit" (click)="onSubmit()">Signup</button>

            <p>Don't have an Account? <a href="user/login"> Login Now!</a></p>
        </div>
    </div>
</div>